<div class="row my-2">
  <div class="col-md-6 col-12">
    <!-- <img [src]=propiedadSeleccionada.featured_img_url alt="" class="img-fluid"> -->
    <h3>{{propiedadSeleccionada.name}}</h3>
    <p>{{propiedadSeleccionada.address.street}}  {{propiedadSeleccionada.address.number_ext}}, Int {{propiedadSeleccionada.address.number_int}}</p>
    <h4 class="text-info">{{propiedadSeleccionada.price|currency:'MXN'}}</h4>
    <p class="text-muted">{{propiedadSeleccionada.description}}</p>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let img of propiedadSeleccionada.gallery; let i=index" [ngClass]="{'active': i === 0}">
          <!-- {{img.url}} -->
          <img class="d-block w-100" [src]=img.url alt="First slide">
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="col-md-6 col-12 my-2">

    <agm-map [latitude]="propiedadSeleccionada.coord.lat" [longitude]="propiedadSeleccionada.coord.lng" [zoom]="15">
      <agm-marker
        *ngFor="let prop of propiedades"
        [latitude]="prop.coord.lat"
        [longitude]="prop.coord.lng">
        <agm-info-window>
          <h4 class="text-center">{{prop.name}}</h4>
        </agm-info-window>
      </agm-marker>
    </agm-map>

  </div>

</div>



<pre>

</pre>
